.formInput {
  /* display: flex;
  align-items: center;
  justify-items: center; */
  text-align: center;
  padding: 3px 20px;
  margin: 10px;
  font-size: large;
}

.button {
  padding: 3px 20px;
  background-color: white;
  margin: 10px;
  font-size: large;
  border-radius: 5px;
}

.input {
  width: 30%;
  padding: 3px 20px;
  background-color: white;
  margin: 10px;
  font-size: large;
  border-radius: 5px;
}
