.todoItem {
  padding: 5px 20px;
  margin: 15px;
  width: 50%;
  background-color: #5478b652;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: left;
}

.icon {
  margin: 5px;
}

.textTodo {
  margin: 1rem;
  text-align: left;
}
